<div class="main-container">

    <div class="search-bar-container">
        <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="search" placeholder="Filter">
            </p>
          </div>
    </div>

    
    <!-- NoteList card -->
    <div class="note-list">
        <app-notecard *ngFor="let note of notes" [title]="note.title" [body]="note.body"></app-notecard>
    </div>

    <!--New Note  -->
    <app-nodedetails class="note-create"></app-nodedetails>

</div>

    