@import '../../../main-style.scss';

.main-container{
    display: flex;
    flex-direction: column;
    max-width: 500px;

   margin: auto;
   padding-top: 50px;
}




.note-list{
    margin-top: 35px;
   display: flex;
   flex-direction: column;
}

app-notecard{
    display: block;
    margin-bottom: 25px;
}

.note-create{
    position: fixed;
    bottom: 0;
    margin-bottom: 20px;
    width: 500px;
    border-radius: 0;
}
@media  screen and (max-width: 850px) {
    .search-bar-container{
        
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .note-list{
        margin-top: 35px;
        display: flex;
        flex-direction: column;
    }

    app-notecard{
        display: block;
        margin-bottom: 20px;
        
    }
}